@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #293344;
  --theme-alt: #000;
  --accent: #00a35b;
  --accent-contrast: #a30048;
  --text: #fff;
}

body {
  background: var(--theme);
  background: radial-gradient(circle, var(--theme) 30%, var(--theme-alt) 100%);
  color: var(--text);
}

h1 {
  color: var(--accent);
}

.accent {
  color: var(--accent);
}
