@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #293344;
  --accent: #00a35b;
  --text: #ffffff;
}

body {
  background-color: var(--theme);
  color: var(--text);
}

h1 {
  color: var(--accent);
}

.accent {
  color: var(--accent);
}
