---
import { Icon } from '@component/Icon';

export interface Props {
  href: string;
  src: string;
  alt?: string;
}

const { href, src, alt } = Astro.props as Props;
---

<a href={href} rel="me"><Icon src={src} alt={alt} /></a>
